#restrict-size {
    padding: 10px;
    margin: 10px;
    background-color: darkolivegreen;
    border: 3px dotted gray;
}

body{
    background-image: url('https://th.bing.com/th/id/OIP.-rWFmh96u9Hjg-cjCtpOwgHaFY?w=252&h=183&c=7&r=0&o=7&pid=1.7&rm=3');
}